:root {
  --pink: #eb2e92;
  --yellow: #d8cc16;
  --blue: #3787cf;
}

body {
  margin: 0px;
  min-height: 100vh;
  /* overflow-x: scroll; */
}

header {
  height: 15vh;
  min-width: 95vw;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.home-container {
  height: 85vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: 120vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container.about {
  height: 150vh;
}

.content-container.contact {
  height: 110vh;
}

.cloud-space {
  height: 50vh;
  min-width: 95vw;
}

.cloud-space.end {
  height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

h1 {
  font-family: "Abril Fatface";
  font-weight: lighter;
  font-size: 150px;
  margin: 5px;
}

.section-heading {
  margin-top: 20vh;
  color: var(--pink);
}

.pink {
  color: var(--pink);
}

.full-stop {
  color: black;
}

.full-stop:hover {
  color: var(--blue);
}

h2,
.socLink {
  font-family: "Abril Fatface";
  font-size: 28px;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--yellow);
  color: black;
  border-radius: 2px;
}

.socLink:hover {
  color: var(--blue);
}

h3 {
  font-family: "Libre Barcode 128 Text";
  font-size: 60px;
  margin-left: 30px;
  font-weight: normal;
}

nav {
  height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  font-family: "Abril Fatface";
  text-decoration: none;
  color: var(--pink);
  font-weight: lighter;
  font-size: 25px;
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 2px;
  transition: transform 0.5s;
}

a:hover {
  transform: scale(1.2);
  color: black;
}

p {
  font-family: "Abril Fatface";
  font-size: 30px;
}

p.email {
  background-color: #66a7e0;
  padding: 5px;
  border-radius: 2px;
}

.about-textbox {
  height: 500px;
  width: 700px;
  border: 20px solid var(--blue);
  background-color: white;
  border-radius: 2px;
}

.contact-links-container {
  min-width: 70vw;
  height: 150px;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: none;
}

footer {
  font-family: "Abril Fatface";
  font-size: 25px;
  margin: 25px;
  background-color: var(--pink);
  padding: 5px;
  border-radius: 2px;
}
