:root {
  --pink: #eb2e92;
  --yellow: #d8cc16;
  --blue: #3787cf;
}

body {
  margin: 0px;
  min-height: 100vh;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.section-heading {
  margin-top: 70px;
  color: var(--pink);
}

.cloud-space {
  height: 300px;
  min-width: 95vw;
}

.full-stop {
  color: black;
}

.full-stop:hover {
  color: var(--blue);
}

h1 {
  font-family: "Abril Fatface";
  font-weight: lighter;
  font-size: 150px;
  margin: 5px;
}

h2,
.subheading-links {
  font-family: "Abril Fatface";
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--yellow);
  color: black;
  border-radius: 2px;
  text-decoration: none;
}

.subheading-links {
  font-size: 28px;
}

.subheading-links:hover {
  color: var(--blue);
}

h3 {
  font-family: "Libre Barcode 128 Text";
  font-size: 60px;
  margin-left: 30px;
  font-weight: normal;
}

p {
  font-family: "Quicksand";
  font-size: 18px;
  padding: 20px;
  text-align: justify;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--pink);
}

a:hover {
  color: var(--blue);
}

/*HEADER*/
header {
  height: 100px;
  min-width: 95vw;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  height: 50px;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  font-family: "Abril Fatface";
  text-decoration: none;
  color: var(--pink);
  font-weight: lighter;
  font-size: 25px;
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 2px;
  transition: transform 0.5s;
}

.nav-link:hover {
  transform: scale(1.2);
  color: black;
}

/*HOME*/
.home-container {
  height: 100vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pink {
  color: var(--pink);
}

/*ABOUT*/
.content-container.about {
  padding-bottom: 100px;
  min-width: 90vw;
}

.about-textbox {
  height: 900px;
  width: 700px;
  border: 20px solid var(--blue);
  background-color: white;
  border-radius: 2px;
  overflow: scroll;
}

/*GALLERY*/
.content-container.gallery {
  padding-bottom: 100px;
  min-width: 90vw;
}

p.photos {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.photo-grid {
  max-width: 80vw;
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
  border: 10px var(--blue) solid;
}

.grid-item {
  background-color: var(--pink);
  height: 300px;
}

img {
  width: 300px;
  height: 300px;
}

/*CONTACT*/
.content-container.contact {
  padding-bottom: 100px;
  min-width: 90vw;
}

p.contact {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

p.email {
  background-color: #66a7e0;
  padding: 5px;
  border-radius: 2px;
  font-size: 30px;
  font-family: "Abril Fatface";
  margin-top: 0;
}

.contact-links-container {
  min-width: 70vw;
  height: 150px;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
}

.contact-link {
  transition: transform 0.5s;
  margin: 5px;
}

.contact-link:hover {
  transform: scale(1.2);
}

img.contact {
  height: 85px;
  width: 85px;
}

img.dev {
  height: 100px;
  width: 100px;
}

/*FOOTER*/
.cloud-space.end {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

footer {
  font-family: "Abril Fatface";
  font-size: 25px;
  margin: 25px;
  background-color: var(--pink);
  padding: 5px;
  border-radius: 2px;
}

@media only screen and (max-width: 1150px) {
  h1.hi {
    font-size: 100px;
  }
  .subheading-links {
    font-size: 20px;
  }
  h3 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 875px) {
  h3 {
    font-size: 40px;
  }
}
